@import "tailwindcss";
.react-calendar__tile.bg-red-400 {
  background: #f87171 !important;
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile.bg-green-400 {
  background: #4ade80 !important;
  color: white !important;
  border-radius: 8px;
}